@import "../../sass/variables";

.products-section {
  color: $textColor;
  padding: 3rem 0;

  &-title {
    > h2 {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 500;
      margin: 0;
    }

    > p {
      font-size: 2.5rem;
      font-weight: bold;
      margin: 0;
      margin-bottom: 2rem;
    }
  }

  &-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}
