@import "../../sass/variables";

footer {
  background-color: $textDarkerColor;
  color: $textLightColor;
  padding-bottom: 1rem;

  .footer-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
  }

  .footer-copyright {
    text-align: center;
    font-size: 0.8rem;
    color: $textLightColor;
  }
}
